* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

div#app {
    
}

div#container {
    width: 40rem;
    border: 3px solid green;
}

label {
    display: none;
}
