.searchContainer {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--gray-200);
  border-radius: 100px;
  padding: 1rem;
}


.searchInput {
  width: 100%;
  padding: 8px;
  font-size: 1.4rem;
  border: none;
  background-color: var(--gray-200);
  border-radius: 0.8rem;
  outline: none;
}

.searchButton {
  padding: 1rem 1.4rem;
  font-size: 1.4rem;
  width: 20%;
  color: #ffffff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: #0056b3;
}
