/* style.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 2rem;
}
.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  border-radius: 8px;

}

.links {
  color: var(--gray-950);
  text-decoration: none;
  width: 40%;
  display: flex;
  gap: 2rem;
  padding: 1rem;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
}

.links .item {
  color: var(--rich-black);
  font-weight: 600;
  font-size: var(--base);
  transition: 500ms;
}

.links .item:hover {
  color: var(--gray-700);
}
.links .alert:hover{
  color: var(--error-light);
}


.logoContainer img{
  width: 15rem;
}

.accountContainer{
  width: auto;
  display: flex;
  justify-content: space-around;
  padding: .8rem 1rem;
  gap: 1rem;
  align-items: center;
  background-color: var(--gray-200);
  border-radius: 100px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.createPostContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.feedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 2rem 0;
}


.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: var(--error);
  cursor: pointer;
  border-radius: 100%;
  transition: 500ms;
}
.logoutBtn img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logoutBtn:hover{
  background: var(--error-light);
}

.logoutBtn:hover img{
  animation: shake 500ms ease;
}

@keyframes shake{
  0%{
    transform: rotate(20deg);
  }
  50%{
    transform: rotate(-15deg);
  }
  10%{
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 900px) {
  .navbar {
      padding: 1rem 5rem;
  }

  .searchContainer {
      padding: 2rem 5rem;
  }

  .feedContainer {
      padding: 2rem 5rem;
  }
}
