.postContainer {
  width: 100%;
  height: auto;
  max-width: 600px;
  background-color: var(--gray-200);
  border-radius: 0.8rem;
  margin-bottom: 2rem;
  padding: 1rem;
}
.imageContainer{
  width: 100%;
  max-height: 450px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}


.postHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.profileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.postInfo {
  display: flex;
  flex-direction: column;
}

.profileName {
  font-size: 1.4rem;
  font-weight: 600;
}

.location {
  font-size: 1.2rem;
  color: #666;
}

.postDescription {
  margin: 1rem 0;
  font-size: 1.4rem;
  text-wrap: wrap;
  max-width: 80%;
  overflow-wrap: anywhere;
}

.postImage {
  width: 100%;
  border-radius: 0.8rem;
  object-fit: cover;
}

.postActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.acheiButton {
  background-color: #007bff;
}

.acheiButton:hover {
  background-color: #0056b3;
}

.shareButton {
  background-color: #35DB5A;
}

.shareButton:hover {
  background-color: #09dd37;
}
