.searchContainer {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #ffffff;
  border-radius: 0.8rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchInput {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.4rem;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
  outline: none;
}

.searchButton {
  padding: 0.8rem 1.4rem;
  font-size: 1.4rem;
  width: 20%;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: #0056b3;
}
